.registerForm{
    padding-top: 20%;
    border-radius: 5px;
    min-width: 100vh;
    max-width:200vh;
    height: 50vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .inputRegister{
        border-radius: 5px;
        padding: 10px 20px;
        flex-direction: row;
        display: flex;
    }
    .buttonRegister{
        margin-top: 5px;
        background-color: #2a8825;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        direction: flex;
        margin-left: 3px;
    }