.card{
  border-radius: 5px;
  min-width: 100vh;
  max-width:200vh;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  border: 3px solid #76b446d7;
}
.SmallCard {
  border: 1px solid #ccc;
  width: 40vh;
  height: 45vh;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.SmallCard:hover{
  box-shadow: 0 2px 4px rgba(124, 132, 10, 0.85);
}

.card h2 {
  width: 270px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
}

.card h2:hover{
  color:#2a8825;
}

.card p {
  width: 270px;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.card button {
  margin-top: 30px;
  background-color: #2a8825;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  cursor: pointer;
  font-size: 16px;
  direction: flex;
  margin-left: 50px;
}

.card button:hover {
  background-color: #0f5d20;
}

.green {
  color: forestgreen;
  font-size: 24px;
}

