.navigation{
    min-width: 100vh;
    max-width: 200vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.AppName{
    color: #2a8825;
    font-style: italic;
    font-size: 40px;
}
.NavBar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}
.navigation ul {
    list-style-type: none; 
}

.navigation li:hover {
color:#2a8825
}
