
.navigationFixed {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    background-color: #b8f1b5;
}

.navigation {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 

}

.navBarMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
}


.AppName {
    color: #2a8825;
    font-style: italic;
    font-size: 30px;
}

.NavForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation ul {
    list-style-type: none;
    padding: 0; 
}

.navigation li {
    margin: 0 10px; 

}

.navigation li:hover {
    color: #2a8825;
}