.errorMessage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.errorMessage img{
    margin-top: 5%;
    width: 150px;
    height:150px;
}

h1{
    font-size: 40px;
    color: rgb(159, 217, 100);
}