.button{
    margin-top: 10px;
    background-color: #2a8825;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 16px;
    direction: flex;
    margin-left: 40px;
}
input{
    border-radius: 5px;
    padding: 10px 15px;
    flex-direction: row;
    display: flex;
    margin-bottom: 4%;
}
.NewWord{
    padding-top: 20%;
    border-radius: 5px;
    min-width: 100vh;
    max-width:200vh;
    height: 50vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
}