.footer {
    background-color: #c4ebd4;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    min-width: 100vh;
    max-width:200vh;

}

.copyright {
    flex-grow: 1; 
    text-align: center; 
}
